# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/King-Test/v16/.suo
.vs/King-Test/v16/Browse.VC.db
.vs/King-Test/v16/Browse.VC.db-shm
.vs/King-Test/v16/Browse.VC.db-wal
.vs/King-Test/v16/Browse.VC.opendb
.vs/King-Test/v16/ipch/AutoPCH/6a1aaadb31013f5e/KING-TEST.ipch
.vs/King-Test/v16/ipch/AutoPCH/761767aeb2191bf/MAIN.ipch
.vs/King-Test/v16/ipch/AutoPCH/898da898edd39166/USERMANAGEMENT.ipch
.vs/King-Test/v16/ipch/AutoPCH/b258286f57e711b9/MENU.ipch
.vs/King-Test/v16/ipch/AutoPCH/d710b5b0d806cdd2/MESSAGESTORE.ipch
.vs/King-Test/v16/ipch/AutoPCH/f43eff31ac10582b/MESSENGER.ipch
Debug/King-Test.ilk
Debug/King-Test.pdb
King-Test/Debug/King-Test.exe.recipe
King-Test/Debug/King-Test.log
King-Test/Debug/King-Test.tlog/CL.command.1.tlog
King-Test/Debug/King-Test.tlog/CL.read.1.tlog
King-Test/Debug/King-Test.tlog/CL.write.1.tlog
King-Test/Debug/King-Test.tlog/King-Test.lastbuildstate
King-Test/Debug/King-Test.tlog/link.command.1.tlog
King-Test/Debug/King-Test.tlog/link.read.1.tlog
King-Test/Debug/King-Test.tlog/link.write.1.tlog
King-Test/Debug/vc142.idb
King-Test/Debug/vc142.pdb
